/synth/de2-115/db
/synth/de2-115/incremental_db

/synth/de0-cv/db
/synth/de0-cv/incremental_db



*.bak
*.wlf
wlf*
transcript*
*.asdb
*.ucdb

/sim/work

/synth/de2-115/simulation/all/work
/synth/de2-115/simulation/modelsim
/synth/de0-cv/simulation
